@charset "UTF-8";

// メインカラー
$color-bg: #fafafa;
$color-wblue: #78c2d3;
$color-pink: #ffebeb;
$color-blue: #305c91;
$pc: 769px; // PC

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

// ---------------共通設定
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

body {
    background-color: $color-bg;
    color: #333;
    font-family: 'Noto Sans JP','メイリオ', sans-serif;
    position: relative;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style-type: none;
}

img {
    vertical-align: bottom;
    object-fit: cover;
}

.flex {
    display: flex;
}

h2 {
    padding: 40px 40px 70px;
    font-size: 48px;
    font-weight: 300;
    font-family: 'Ubuntu';
}

h3 {
    padding-bottom: 5px;
    border-bottom: 1px dotted #333;
    font-size: 24px;
    font-weight: 300;
    display: inline-block;
}

section {
    margin: 0 auto;
    padding: 80px 0;
    width: 90%;
    max-width: 1000px;
}

/* ヘッダー */
.header {
    min-height: 77vh;

    &__container {
        width: 100%;
        background-image: url(../img/bg_header_t.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top center;
        text-align: center;
        position: fixed;
        z-index: -1;
    }

    &__title {
        padding-top: 33vh;
        font-size: 64px;
        font-weight: 300;
        font-family: 'Ubuntu';

        @include pc {
            padding-top: 40vh;
            font-size: 80px;
        }
    }
    
    &__subtitle {
        padding-top: 16px;
        font-size: 24px;
    }

    &__gnavibtn {
        width: 50px;
        height: 50px;
        position: fixed;
        top: 12px;
        right: 3%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 20;

        & span {
            width: 100%;
            height: 4px;
            background-color: #bbb;
            display: block;
            transition: .2s;
        }
    }
}

.active span:first-child {
    transform: rotate(45deg) translate(6px, -6px);
    transform-origin: left top;
}

.active span:nth-child(2) {
    display: none;
}

.active span:last-child {
    transform: rotate(-45deg) translate(6px, -6px);
}

 .gnavi{
    &__list {
        padding: 200px 2em 0;
        width: 500px;
        height: 600px;
        background-color: rgba(255,235,235, .9);
        border-radius: 45% / 70% 45%;
        text-align: right;
        position: fixed;
        right: -500px;
        z-index: 10;

        &.active {
            top: -120px;
            right: -250px;
            transition: .3s;
        }
    }

    &__item {
        padding-right: 240px;
        font-size: 32px;
        line-height: 1.7em;
        font-family: 'Ubuntu';

        & a:hover {
            background: linear-gradient(transparent 60%, $color-bg 60%);
            padding-bottom: .25em;
        }
    }
}


/* プロフィール----------------------------------*/
.profile {
    margin: -5px 0;
    background-color: $color-bg;
    padding-bottom: 100px;
    background-image: url(../img/bgwave_profile.gif);
    background-repeat: no-repeat;
    background-position: center bottom -5px;
    background-size: 100%;
    
    @include pc {
        padding-bottom: 200px;
    }
    
    &__wave {
        width: 100vw;
        height: auto;
    }

    &__title {
        background-image: url(../img/circle_pink.png);
        background-repeat: no-repeat;
        background-size: 135px;
    }
    
    &__inner {
        margin: 0 auto;
        max-width: 620px;
        text-align: center;
    }

    &__icon,
    &__name {
        width: 140px;
        display: block;
        margin: 0 auto;
        
        @include pc {
            width: 160px;
        }
    }

    &__kana {
        padding: 5px 0 50px;
        text-align: center;
        color: #666;
        font-size: 12px;
    }

    &__text {
        padding-bottom: 10px;
        line-height: 1.7em;
        text-indent: 1em;
        text-align: justify;

        &:last-child {
            padding-bottom: 0;
        }
    }
    
    &__box {
        position: relative;

        @include pc {
            padding-top: 30px;
        }
    }

    &__career {
        margin: 50px auto 0;
        max-width: 360px;

        @include pc {
            margin-right: auto;
            margin-left: 3%;
            width: 50%;
        }
    }

    &__imgcap {
        width: 230px;
        height: auto;
        position: absolute;
        right: -20px;
        top: -20px;
        opacity: .9; 
    }

    &__imgcapbox {
        background-image: url(../img/yukosphoto.jpg);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: cover;
        margin: 45px 3% 0 0;
        padding-top: 10px;
        width: 48%;
        height: auto;
        border-radius: 50% 90% 40% 40% / 70%;
        box-shadow:  -10px 10px 15px #d9d9d9,
         15px -15px 30px #ffffff;
        position: relative;
        display: none;

        animation: fuwa 1.5s ease-in-out infinite alternate;

        @keyframes fuwa {
            0% {
                transform: translateY(0);
            }
        
            100% {
                transform: translateY(-5px)
            }
        }
    
        @include pc {
            display: block;
            }
        }
        
        
        & dd {
            padding-left: 2.5em;
            
            + dt {
                padding-top: .5em;
            }
        }
        
        & dt::before {
            content: "●";
            padding-right: .5em;
            color: $color-wblue;
        }

        & dd {
            font-size: 14px;
        }
    }


/* 好きなこと----------------------------------*/
.favorite {
    margin: -5px 0;
    background-color: $color-pink;
    background-image: url(../img/bgwave_favorite.gif);
    background-repeat: no-repeat;
    background-position: center bottom -5px;
    background-size: 100%;

    @include pc {
        padding-bottom: 200px;
    }

    &__title {
        background-image: url(../img/circle_white.png);
        background-repeat: no-repeat;
        background-size: 135px;
    }

    &__list {
        width: 80%;
        position: relative;

        @include pc {
            width: 57%;
        }
    }

    &__itemtitle {
        padding: 20px 0;
        font-size: 24px;

        @include pc {
        font-size: 32px;
        }
    }

    &__itemcap{

        &--1 {
            padding-top: 30px;
            width: 100%;
    
            @include pc {
                width: 80%;
            }
        }

        &--2 {
            padding-top: 15px;
            width: 100%;

            @include pc {
                width: 100%;
            }
        }

        &--3 {
            padding-top: 18px;
            width: 100%;

            @include pc {
                width: 90%;
            }
        }

        &--4 {
            padding-top: 20px;
            width: 100%;

            @include pc {
                width: 85%;
            }
        }

        &--5 {
            padding-top: 20px;
            width: 80%;

            @include pc {
                width: 65%;
            }
        }
    }
}

.swiper-pagination {
    margin: 0 auto;
    max-width: 400px;
    left: 0;
    right: 40%;

    @include pc {
        right: 30%;
    }
    }
  
  .swiper-pagination-bullet {
      margin-right: 5px;
      padding-top: 3px;
      width: 30px;
      height: 30px;
      background: #ffffff;
      opacity: 0.8;
      color: #333;
      font-size: 16px;
      
      &:focus {
          outline: none;
      }
  }

  /* 現在のスライドのスタイル */
  .swiper-pagination-bullet-active {
      background-color: $color-wblue;
      color: #ffffff;
  }
  
.swiper {
    margin: 0 auto;
    max-width: 620px;
    height: 400px;
    background-image: url(../img/circle_white_big.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
      color: #888;
      display: none;

      @include pc {
          display: block;
      }
  }
  
/* 現在のスキル----------------------------------*/
.skill {
    margin: -5px 0;
    padding-bottom: 100px;
    background-color: $color-bg;
    background-image: url(../img/bgwave_skill.gif);
    background-repeat: no-repeat;
    background-position: center bottom -5px;
    background-size: 100%;

    @include pc {
        padding-bottom: 200px;
    }

    &__title {
        background-image: url(../img/circle_pink.png);
        background-repeat: no-repeat;
        background-size: 135px;
    }
}

.sbox {
    margin: 0 auto;
    max-width: 698px;

    &__wrap {
        flex-direction: column;

        @include pc {
            flex-direction: row;
            & + & {
                padding-top: 20px;
            }
        }

        &:first-of-type {
            height: 730px;
            flex-wrap: wrap;
            align-content: space-around;

            @include pc {
                height: auto;
                align-content:flex-start;
            }
        }
    }
    
    &__icon {
        padding: 10px;
        text-align: center;
        color: $color-blue;
        
        @include pc {
            padding: 1.5%;
        }
    }
    
    &__gauge{
        margin: 0 auto;    
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        border: 7px solid $color-blue;
        line-height: 86px;
        font-size: 32px;

        @include pc {
            width: 118px;
            height: 118px;
            line-height: 100px;
            }
        
        &--title {
            background: $color-blue;
            border: none;
            font-size: 13px;
            color: $color-bg;
            line-height: 100px;

            @include pc {
                font-size: 16px;
                line-height: 116px;
            }
        }
       
        &--90 {
            background-image: url(../img/90.png);
        }
    
        &--70 {
            background-image: url(../img/70.png);
        }
    
        &--50 {
            background-image: url(../img/50.png);
        }
    
        &--30 {
            background-image: url(../img/30.png);
        }
    }
    
    &__cap {
        font-weight: bold;

        @include pc {
            font-size: 18px;
        }
    }
    
    &__list {
        margin: 0 auto;
        padding-top: 10px;
        max-width: 370px;

        @include pc {
            margin-left: 10px;
        }
    }
    
    &__item {
        padding-left: 1.5em;
        text-indent: -1.5em;

        &::before {
            content: "●";
            padding-right: .5em;
            color: $color-wblue;
        }
    }

    &__item + &__item {
        padding-top: .5em;
    }
}


/* 制作物----------------------------------*/
.works {
    margin: -5px 0;
    padding-bottom: 100px;
    background-color:$color-wblue;
    background-image: url(../img/bgwave_works.gif);
    background-position: center bottom -5px;
    background-size: 100%;

    @include pc {
        padding-bottom: 170px;
    }

    &__title {
        background-image: url(../img/circle_white.png);
        background-repeat: no-repeat;
        background-size: 135px;
    }

    &__text {
        padding: 1em;
        max-width: 620px;
        text-indent: 1em;
    }

    &__wrap1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include pc {
            background-image: url(../img/bgworks.png);
            background-repeat: no-repeat;
            background-size: 200px;
            background-position: right bottom 10px;    
            display: block;
            column-count: 2;//PCでの横並び数
            column-gap: 10px;//アイテム間の余白
            height: 652px;
            }
    }

    &__wrap2 {
        padding-top: 40px;
        text-align: center;
        
        @include pc {
            height: 1230px;
            column-count: 3;//PCでの横並び数
            column-gap: 10px;//アイテム間の余白
        }
    }
}

.wbox1 {
    margin-bottom: 10px;
    padding: .5em;
    max-width: 90%;
    break-inside: avoid;//ボックス内での区切り禁止
    display: inline-block;
    background-color: $color-bg;
    border-radius: 10px;
    position: relative;

    @include pc {
        width: 100%;
        max-width: 100%;
    }


    &:hover &__mask{
        opacity: 1;
    }


    & + & {
        margin-top: 10px;

        @include pc {
            margin-top: 0;
        }
    }
    &__img {
        width: 100%;
        max-height: 200px;

        @include pc {
            height: 300px;
            max-height: 300px;
            object-position: top;
        }
    }

    &__mask {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: rgba(48,92,145,.8);
        color: $color-bg;
        text-align: center;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    &__title {
        border-bottom: 1px dotted $color-bg;
    }

    &__text {
        margin: .5em 20px 0;
                
        &:not(:first-of-type) {
            margin-right:30px;
            margin-left: 30px;
            text-align: left;
            display: none;

            &::before {
                content: "●";
                padding-right: .3em;
                color: $color-wblue;
            }    

            @include pc {
                display: block;
            }
        }
    }
}

.wbox2 {
    break-inside: avoid;
    display: inline-block;
    margin-bottom: 10px;
    padding: 1em;
    width: 90%;
    max-width: 400px;
    background-color: $color-bg;
    border-radius: 10px;

    @include pc {
        width: 100%;
    }

    &__textbox {
        text-align: left;

        @include pc {
            padding: 0;
        }
    }

    &__img {
        margin: 10px auto 0;
        width: 100%;
        max-width: 268px;
        height: auto;

        @include pc {
            width: 100%;
        }
    }

    &__text {
        margin: .5em 1em 0;

        @include pc {
            margin-right: auto;
            margin-left: auto;
            max-width: 268px;
            display: block;
        }

        &:last-of-type {
            text-align: left;
            display: none;

            @include pc {
                display: block;
            }

            &::before {
                content: "●";
                padding-right: .3em;
                color: $color-wblue;
            }
        }
    }

}
/* others----------------------------------*/
.others {
    background-color: $color-blue;
    padding-bottom: 50px;
    margin: -5px 0;
            
    &__title {
        color: $color-bg;
        background-image: url(../img/circle_blue.png);
        background-repeat: no-repeat;
        background-size: 135px;
    }

    &__text {
        padding: 1em;
        max-width: 620px;
        color: $color-bg;
        text-indent: 1em;
    }
}
.obox {
    flex-direction: column;
    text-align: center;
    
    @include pc {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        }
        
        &__inner {
            margin: 10px auto 0;
            padding: 1em;
            max-width: 500px;
            border-radius: 10px;
            background: $color-bg;
            align-self: flex-start;

            @include pc {
                width: calc((100% - 10px)/2);
                height: auto;
                margin-right: 0;
                margin-left: 0;
            }
        }

        &__text {
            margin: .5em 20px 0;

            &:last-of-type {
                text-align: left;
                display: none;

                &::before {
                    content: "●";
                    padding-right: .3em;
                    color: $color-wblue;
                }    
    
                @include pc {
                    display: block;
                }
            }

        }
        
        &__item {
            margin: 10px auto 0;
            width: 100%;
            height: auto;
            max-height: 200px;
            object-fit: cover;

            &:hover {
                padding: 3px;
                opacity: .7;
            }
        }
    }



/* お問い合わせ----------------------------------*/
.contact {
    padding: 350px 0 100px;
    background-image: url(../img/bgcontact.png);
    background-repeat: no-repeat;
	background-position: center top;
    background-size: 200px auto;
    background-color: $color-blue;

    &__main{
        margin: 0 auto;
        padding: 0;
        max-width: 936px;
        background: $color-bg;
        border-radius: 10px;
        position: relative;
    }
    
    &__main::before {
        content: '';
        margin: auto;
        width: 0px;
        height: 0px;
        border-top: 100px solid $color-pink;
        border-right: 30vw solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 30vw solid transparent;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        @include pc {
            border-right: 300px solid transparent;
            border-left: 300px solid transparent;
        }
    }
    
    &__title {
        position: absolute;
        width: 250px;
        text-align: center;
        top: -30px;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.form {
    margin: 0 auto;
    padding: 80px 20px 20px;
    max-width: 800px;
    font-size: 18px;

    &__inner {
        padding: 1em 0;
    }

    &__name,
    &__email,
    &__message {
        margin-top: 0.5em;
        margin-left: auto;
        padding: .5em 1em;
        width: 100%;
        border: 1px solid #ccc;
        line-height: 2em;
    }

    &__message {
        line-height: 2em;
        height: 250px;
    }
    
    &__btn {
        margin: 20px auto 10px;
        width: 70%;
        background-color: $color-pink;
        border-radius: 10px;
        display: block;
        line-height: 3em;
    }
}


/* フッター----------------------------------*/
.footer {
    padding: 270px 0 30px;
    background-color: $color-blue;
    text-align: center;
    background-image: url(../img/bgfooter.png);
    background-repeat: no-repeat;
	background-position: center top;
    background-size: 120px auto;

    
    @include pc {
        padding-top: 360px;
        background-size: 170px;
    }

    &__copyright {
        font-size: 14px;
        color: $color-bg;
    }
}


// トップに戻るボタン
.topbtn {
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 3%;
    display: none;
    transition: .5s;
    z-index: 20;

    &.active {
        display: block;
    }

    &__link {
        color: #aaa;
    }

    &__icon {
        width: 60px;
        height: 60px;
    }

    &:hover {
        bottom: 35px;
    }
}