@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif JP', serif;
    color: #333;
}

img {
    vertical-align: bottom;
}

li {
    list-style: none;
}

a {
    list-style: none;
    text-decoration: none;
    color: #333;
}

.flex {
    display: flex;
}

.right {
    text-align: right;
}

/*共通設定ここまで------------------*/

header {
    background-image: url(../img/main1.jpg);
    background-position: center;
    min-height: 95vh;
    text-align: center;
    
    /*画像をトップに固定する*/
    background-attachment: fixed;
}

.logo {
    margin-top: 40vh;
    margin-bottom:10px;
    width: 185px;
    height: auto;
}

h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
}

.title {
    font-size: 40px;
}

.gnavi {
    position: absolute;
    top: 0;
    right: 0;
}

.gnavi_reservation,
.gnavi_hotel {
    padding: 20px 5px;
    position: fixed;
    top: 150px;
    right: 0;
    width: 50px;
    height: auto;
    background-color: #d3cbc6;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.gnavi_reservation:hover,
.gnavi_hotel:hover {
    outline: 2px solid #fff;
    outline-offset: -5px;
}

.gnavi_hotel {
    top: 265px;
}

.gnavi_text {
    writing-mode: vertical-rl;
}


/*オープン挨拶------------*/
section {
    padding: 20px;
}

.intro,
aside,
footer {
    background-color: #022503;
    color: #fff;
}

.intro_container {
    flex-direction: column;
}

.intro_box {
    margin: 0 auto 0 1em;
    width: 435px;
    position: relative;
}

h3 {
    font-size: 40px;
    font-weight: 500;
    position: absolute;
    top: -50px;
}

.intro_text {
    padding: 15px 0;
    font-size: 18px;
    line-height: 2em;
}

.intro_text + .intro_text {
    border-top: 2px solid #fff;
}

.intro_btn {
    margin: 8px;
    padding: 8px;
    width: 90%;
    height: 70px;
    background-color: #fff;
    border: 3px solid #022503;
    outline: 8px solid #fff;
    color: #022503;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.intro_btn:hover {
    opacity: .5;
}

.reservation {
    width: 60%;
    font-size: 30px;
}

.reservation:first-letter {
    font-size: 40px;
}

.intro_inner {
    width: 40%;
    padding-left: 10px;
}

.intro_btn img {
    width: 50px;
}

/*新着情報*/
.new,
.access {
    background-color: rgba(211, 203, 198, .3);
}

h4 {
    font-size: 30px;
    font-weight: 500;
}

.red {
    color: #930000;
    margin: 28px;
}

.new_item {
    margin: 0 0 28px 28px;
}

td {
    text-align: justify
}

.date {
    width: 20%;
    vertical-align: top;
}

.new_past {
    margin-right: 28px;
}

.new_past a:hover {
    text-decoration: underline;
}

main {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 400px;
}

main h4 {
    margin-bottom: 28px;
}

/*客室紹介----------------------*/
.room {
    margin-top: 50px;
    flex-direction: column-reverse;
    position: relative;
}

.room::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 50%;
    background-color: #d3cbc6;
    right: 0;
    bottom: 25%;
    z-index: -3;
}

.room_text {
    text-align: right;
}

.room_text p {
    padding-right: 20px;
}

.room_img {
    max-width: 700px;
    width: 90%;
    height: auto;
    margin-right: auto;
}

.more {
    margin: 20px 0;
    z-index: 10;
}

/*その他メニュー                 */
.menu {
    flex-direction: column;
}

.menu_items {
    margin-bottom: 50px;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
}

.menu_items::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 50%;
    background-color: #d3cbc6;
    left: 0;
    bottom: 0;
    z-index: -5;
}

.items_img {
    margin-left: auto;
    padding: 0 0 20px;
    width: 60%;
    height: auto;
    object-fit: scale-down;
}

.items_text p {
    padding: 0 10px 0 20px;
}

/*婚礼プラン--------------------*/
.wedding {
    padding: 0;
    flex-direction: column;
    position: relative;
}

.wedding_img {
    width: 100%;
}

.wedding_text {
    width: 100%;
    margin: 0 auto;
    text-align: right;
}

.wedding::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 60%;
    background-color: #d3cbc6;
    right: 0;
    bottom: 0;
    z-index: -5;
}

.wedding_text p {
    padding-right: 20px;
}

.wedding_text h4 {
    margin-bottom: 28px;
}

/*本館へのリンク-----------------*/
.honkan {
    position: relative;
}

.honkan_img {
    width: 100%;
    margin: 50px 0;
}

.honkan_title {
    position: absolute;
    top: 30%;
    left: 20px;
}

.honkan a:hover {
    opacity: .7;
}

/*アクセス----------------------*/
.access {
    flex-direction: column-reverse;
}

.map,
.access_text {
    width: 100%
}

.access_text {
    padding: 28px 20px;
}

.access_text p {
    margin-top: 28px;
    padding-left: 20px;
    line-height: 2em;
}

p + .loop {
    margin-left: auto;
    width: 80%;
    border-top: 2px solid #333;
}

.access_text a:hover {
    text-decoration: underline;
}

/*aside インフォメーション--------*/
.info {
    padding: 30px;
    text-align: center;
}

.info p {
    font-size: 20px;
}

.info_logo {
    width: 45px;
    margin-bottom: 25px;
}

.tel {
    font-size: 35px;
    vertical-align: top;
}


/*フッター----------------------*/
.footer {
    padding: 30px 0 12px;
}

.footer_list {
    margin-bottom: 50px;
    flex-direction: column;
    text-align: center;
}

.footer_item {
    list-style: none;
    margin: 4px;
    font-size: 18px;
}

footer a,
small {
    color: #fff;
}

.footer_item a:hover {
    text-decoration: underline;
}

/*------------------------------------
---------------PC版設定----------------
-------------------------------------*/

@media (min-width: 769px) {
    
    body {
        font-size: 18px;
    }
    
    /*オープン挨拶*/
    .intro_container {
        margin: 0 auto;
        max-width: 1200px;
        flex-direction: row;
        justify-content: space-between;
    }
    .intro_box {
        margin: 0;
    }
    .intro_text {
        padding-top: 50px;
    }
    .intro_btn {
        margin: 30px 10px;
        padding: 50px 8px;
        width: 250px;
        height: auto;
        flex-direction: column;
    }
    
    .reservation {
        padding-bottom: 50px;
    }
    
    .intro_btn img {
        width: 100%;
    }
    
    /*新着情報*/
    h4 {
        font-size: 40px;
    }
    
    /*客室紹介・温泉・食事*/
    
    .room::after {
        width: 60%;
    }
    
    .menu {
        flex-direction: row;
        justify-content: space-around;
    }
    .menu_items {
        flex-direction: column;
    }
    .menu_items + .menu_items {
        margin-left: 5px;
    }
    
    .items_img {
        padding-bottom: 0;
        width: 90%;
    }
    
    .menu_items::before {
        width: 90%;
        height: 60%;
    }
    
    .items_text {
        padding-left: 20px;
    }
    
    /*婚礼プラン*/
    .wedding {
        padding: 0;
        flex-direction: row;
        position: relative;
    }
    .wedding_img {
        width: 50%;
        height: auto;
        margin-right: 0;
        margin-bottom: 85px;
    }
    .wedding_text {
        width: 70%;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
    .wedding::after {
        height: 90%;
    }

    /*本館リンク*/
    
    /*アクセス*/
    .access {
        flex-direction: row;
    }
    
    .access_text {
        padding-right: 20px;
        padding-left: 20px;
    }
    /*フッター*/
    .footer_list {
        flex-direction: row;
        justify-content: center;
    }

    .footer_item {
        margin: 0 .5em;
    }
    
    .footer_item + .footer_item::before {
        content: "／　";
    }
    
}
