@charset "UTF-8";
/* 全ページ共通
------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  color: #333;
  font-family: "Noto Sans JP", "メイリオ", sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style-type: none;
}

img {
  vertical-align: bottom;
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  font-size: 32px;
  font-family: "Ubuntu";
}

h2 {
  margin: 0 auto;
  padding-top: 20vh;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 56px;
  font-weight: 300;
  font-family: "Ubuntu";
  position: fixed;
  z-index: -1;
}

h3 {
  text-align: center;
  margin-bottom: 1em;
  padding-bottom: 5px;
  border-bottom: 1px dotted #333;
  font-size: 24px;
  font-weight: 300;
  display: inline-block;
}

p {
  line-height: 1.7em;
}

main > section {
  margin: 50px auto;
  padding: 50px 5%;
  max-width: 1000px;
  text-align: center;
  border: 5px dotted #78c2d3;
}

.flex {
  display: flex;
}

/* ヘッダー
------------------------------------------------------------*/
.header {
  min-height: 23vh;
}
.header__logo {
  padding-top: 2px;
  padding-bottom: 0.2em;
  height: 55px;
  color: #78c2d3;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 32px;
  line-height: 1.7em;
  position: fixed;
  top: 0;
  left: 20px;
  z-index: 20;
}
.header__cloud {
  width: 100vw;
}
.header__container {
  margin: 0 auto;
  text-align: center;
  position: fixed;
  z-index: -1;
}
.header__title {
  font-size: 64px;
  font-weight: 300;
}
.header__text {
  padding-top: 2em;
  font-size: 24px;
}

.wave {
  margin-bottom: -10px;
  padding-top: 20px;
  width: 100%;
  height: auto;
  -webkit-animation: fuwa 1.5s ease-in-out infinite alternate;
          animation: fuwa 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes fuwa {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes fuwa {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
.gnavi {
  padding-top: 3px;
  width: 100%;
  height: 60px;
  text-align: center;
  position: fixed;
  top: -2px;
  right: 0;
  z-index: 10;
  background-color: rgba(250, 250, 250, 0.9);
}
.gnavi__list {
  justify-content: flex-end;
}
.gnavi__item {
  padding-top: 2px;
  font-size: 32px;
  line-height: 1.7em;
  font-family: "Ubuntu";
  padding-right: 5%;
}

.gnavi__item a:hover,
.current a {
  background: linear-gradient(transparent 60%, #ffebeb 60%);
  padding-bottom: 0.2em;
  cursor: pointer;
}

.container {
  margin: -5px 0;
  background-color: #fafafa;
  padding: 100px 5% 10px;
}

/* index-トップページ-
------------------------------------------------------------*/
#top .header {
  min-height: 63vh;
}
#top .gnavi {
  margin: -5px 0 -55px;
  position: sticky;
}

.intro {
  margin: 50px auto;
  padding: 50px 5%;
  max-width: 1000px;
  text-align: center;
}

.new__item {
  line-height: 1.7em;
  justify-content: space-between;
}
.new__link {
  text-decoration: underline;
}
.new__link:hover {
  text-decoration: none;
}

/* profile-プロフィール-
------------------------------------------------------------*/
.profile {
  text-align: left;
}
.profile__inner {
  padding-bottom: 30px;
  align-items: center;
  display: block;
}
.profile__inner:last-child {
  padding-bottom: 0;
}
.profile__icon {
  width: 80px;
}
.profile__list {
  padding-left: 1em;
  padding-bottom: 30px;
}
.profile__item::before {
  content: "●";
  padding-right: 0.5em;
  color: #78c2d3;
}
.profile__text {
  padding-left: 1em;
}
.profile__text:first-of-type {
  padding-top: 1em;
}
.profile__text::before {
  content: "●";
  padding-right: 0.5em;
  color: #78c2d3;
}

.skill {
  align-items: flex-start;
}
.skill__icon {
  padding: 10px;
  text-align: center;
  color: #305c91;
  display: inline-block;
}
.skill__gauge {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 7px solid #305c91;
  line-height: 86px;
  font-size: 32px;
}
.skill__gauge--90 {
  background-image: url(../img/g-90.png);
}
.skill__gauge--50 {
  background-image: url(../img/g-50.png);
}
.skill__gauge--30 {
  background-image: url(../img/g-30.png);
}
.skill__cap {
  font-weight: bold;
}

/* Blog-投稿記事一覧-
------------------------------------------------------------*/
#blog .container {
  justify-content: space-between;
}
#blog .main {
  width: 77%;
}

.blog {
  margin-top: 0;
  text-align: left;
}
.blog__inner {
  padding-left: 24px;
}
.blog__textTitle {
  font-size: 24px;
  padding: 5px 0 10px;
}
.blog__img {
  width: 30%;
  height: auto;
}
.blog__more {
  display: block;
  text-align: right;
}
.blog__more:hover {
  text-decoration: underline;
}

#blog .side {
  width: 20%;
}
#blog .side__box:not(:first-of-type) {
  padding-top: 30px;
}

/* Contact-お問い合わせ-
------------------------------------------------------------*/
.contact {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 936px;
  background: #fafafa;
  border: 5px solid #ffebeb;
  border-radius: 10px;
  position: relative;
}

.contact::before {
  content: "";
  margin: auto;
  width: 0px;
  height: 0px;
  border-top: 100px solid #ffebeb;
  border-right: 30vw solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 30vw solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.contact__subtitle {
  margin: 0 auto;
  padding: 50px 1%;
  width: 90%;
  max-width: 936px;
  font-size: 18px;
}

.contact__subtitle::before {
  content: "●";
  padding-right: 0.3em;
  color: #78c2d3;
}

.form {
  margin: 0 auto;
  padding: 100px 20px 0;
  max-width: 800px;
  font-size: 18px;
}

.form__inner {
  padding: 1em 0;
}

.form__name,
.form__email,
.form__message {
  margin-top: 0.5em;
  margin-left: auto;
  padding: 0.5em 1em;
  width: 100%;
  border: 1px solid #ccc;
  line-height: 2em;
}

.form__message {
  line-height: 2em;
  height: 250px;
}

.form__btn {
  margin: 20px auto 10px;
  width: 70%;
  background-color: #ffebeb;
  border-radius: 10px;
  line-height: 3em;
  display: block;
}

/* フッター
------------------------------------------------------------*/
.footer {
  text-align: center;
  background-color: #fafafa;
}

.footer__bg {
  padding: 250px 0 20px;
  background-image: url(../img/bgwave-profile.gif);
  background-repeat: no-repeat;
  background-position: center bottom -5px;
  background-size: 100%;
}

.footer__copyright {
  font-size: 14px;
}

/* トップに戻るボタン
------------------------------------------------------------*/
.topbtn {
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 3%;
  display: none;
  z-index: 20;
}

.topbtn.active {
  display: block;
}

.topbtn__link {
  color: #aaa;
}

.topbtn__icon {
  width: 60px;
  height: 60px;
}/*# sourceMappingURL=common.css.map */