@charset "UTF-8";


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  color: #333;
  font-family: 'Noto Sans JP','メイリオ', sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style-type: none;
}

img {
  vertical-align: bottom;
  object-fit: cover;
}

.flex {
  display: flex;
}

h1 {
  font-size: 32px;
  font-family: 'Ubuntu';
}

h2 {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 110px;
  font-size: 56px;
  font-weight: 300;
  font-family: 'Ubuntu';
  position: fixed;
  z-index: -1;
}

h3 {
  padding-bottom: 5px;
  border-bottom: 1px dotted #333;
  font-size: 24px;
  font-weight: 300;
  display: inline-block;
}


/* ヘッダー */

#top .header {
  min-height: 63vh;
}

.header {
  min-height: 23vh;
}

.header__logo {
  width: 50px;
  height: auto;
}
.header__h1 {
  padding-top: 2px;
  position: fixed;
  top: 0;
  left: 20px;
  z-index: 20;
  height: 55px;
  font-size: 32px;
  line-height: 1.7em;
  font-weight: 300;
  font-family: 'Ubuntu';
  color: #78c2d3;
  padding-bottom: .2em;

}

.header__cloud {
  width: 100vw;
}

.header__container {
  margin: 0 auto;
  text-align: center;
  position: fixed;
  z-index: -1;
}

#top .header__title {
  font-size: 64px;
  font-weight: 300;
  text-align: center;
}


.header__subtitle {
  padding-top: 2em;
  font-size: 24px;
}

.header__wave {
  margin-bottom: -10px;
  padding-top: 20px;
  width: 100%;
  height: auto;
  animation: fuwa 1.5s ease-in-out infinite alternate;
}

@keyframes fuwa {
  0% {
            transform: translateY(0);
  }
  100% {
            transform: translateY(-5px);
  }
}

#top .gnavi {
  height: 60px;
  margin: -5px 0 -55px;
  padding-top: 3px;
  text-align: center;
  position: sticky;
  top: -2px;
  z-index: 10;
  background-color: rgba(250, 250, 250, 0.9);
}

.gnavi {
  width: 100%;
  height: 60px;
  text-align: center;
  position: fixed;
  top: -2px;
  right: 0;
  z-index: 10;
  background-color: rgba(250, 250, 250, 0.9);
}


.gnavi__list {
  justify-content: flex-end;
}

.gnavi__item {
  padding-top: 2px;
  font-size: 32px;
  line-height: 1.7em;
  font-family: 'Ubuntu';
  padding-right: 5%;
}

.gnavi__item a:hover,
.current a {
  background: linear-gradient(transparent 60%, #ffebeb 60%);
  padding-bottom: .2em;
  cursor: pointer;
}

.fafafa {
  background-color: #fafafa;
}


/* プロフィール----------------------------------*/
.profile {
  margin: -5px 0;
  background-color: #ffebeb;
  padding: 100px;

  height: 1000px;
}


/* お問い合わせ----------------------------------*/

.contact {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 936px;
  background: #fafafa;
  border: 5px solid #ffebeb;
  border-radius: 10px;
  position: relative;
}

.contact::before {
  content: '';
  margin: auto;
  width: 0px;
  height: 0px;
  border-top: 100px solid #ffebeb;
  border-right: 30vw solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 30vw solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.contact__title {
  padding-top: 20vh;
}

.contact__subtitle {
  padding: 50px 1%;
  font-size: 18px;
  margin: 0 auto;
  width: 90%;
  max-width: 936px;
}

.contact__subtitle::before {
  content: "●";
  padding-right: .3em;
  color: #78c2d3;
}

.form {
  margin: 0 auto;
  padding: 100px 20px 0;
  max-width: 800px;
  font-size: 18px;
}

.form__inner {
  padding: 1em 0;
}

.form__name, .form__email, .form__message {
  margin-top: 0.5em;
  margin-left: auto;
  padding: .5em 1em;
  width: 100%;
  border: 1px solid #ccc;
  line-height: 2em;
}

.form__message {
  line-height: 2em;
  height: 250px;
}

.form__btn {
  margin: 20px auto 10px;
  width: 70%;
  background-color: #ffebeb;
  border-radius: 10px;
  display: block;
  line-height: 3em;
}

/* フッター----------------------------------*/
.footer {
  text-align: center;
  background-color: #fafafa;
}

.footer__wrapper {
  padding: 300px 0 30px;
  background-image: url(../img/bgwave_profile.gif);
  background-repeat: no-repeat;
  background-position: center bottom -5px;
  background-size: 100%;
}

.footer__copyright {
  font-size: 14px;
}

.topbtn {
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 3%;
  display: none;
  z-index: 20;
}

.topbtn.active {
  display: block;
}

.topbtn__link {
  color: #aaa;
}

.topbtn__icon {
  width: 60px;
  height: 60px;
}
